<div class="search-page-container" data-controller="filter">
  <!-- Title -->
  <h1 class="search-title">What do you want to cook?</h1>

  <!-- Search Bar -->
  <div class="search-bar-wrapper">
    <%= form_with url: recipes_search_path, method: :get, local: true, class: "search-form" do |f| %>
      <%= f.text_field :query, placeholder: "Search", class: "search-input", value: @query %>
      <%= f.submit "Search", class: "search-submit-btn" %>
    <% end %>

    <button data-action="click->filter#toggle" class="filter-btn">Filters</button>
  </div>

  <!-- Filter -->
  <div data-filter-target="panel" class="filter-panel hidden">

    <%= form_with url: recipes_search_path, method: :get, local: true do |f| %>

      <h4>Difficulty</h4>
      <%= f.select :level, [["Easy", 1], ["Medium", 2], ["Hard", 3]], include_blank: true %>

    <h4>Rating</h4>

    <div data-controller="rating" class="rating-filter">
      <div class="stars" data-rating-target="stars">
        <% 5.times do |i| %>
          <span class="star"
                data-action="click->rating#select"
                data-rating-value="<%= i + 1 %>">
            ☆
          </span>
        <% end %>
      </div>

      <!-- Hidden field that stores selected rating -->
      <%= f.hidden_field :rating, value: params[:rating], data: { rating_target: "input" } %>
    </div>

      <%= f.submit "Apply Filters", class: "search-submit-btn" %>
    <% end %>
  </div>


  <!-- Results or saved recipes -->
  <% @recipes.each do |recipe| %>
    <%= link_to recipe_path(recipe), class: "recipe-card" do %>
      <div class="recipe-image-placeholder"></div>

      <div class="recipe-text">
        <h3><%= recipe.title %></h3>
        <p><%= recipe.description %></p>

        <div class="rating">
          <% full_stars = recipe.average_rating.floor %>
          <% empty_stars = 5 - full_stars %>

          <% full_stars.times do %>
            ★
          <% end %>

          <% empty_stars.times do %>
            ☆
          <% end %>

          <small>(<%= recipe.reviews.count %> reviews)</small>
        </div>

      </div>

      <div class="recipe-add-btn">+</div>
    <% end %>
  <% end %>

</div>
